.home-page{
    background-color: black;
    height: 100vh;
}

.component-card{
    height: 30vh;
    width: 15vw;
    .icon {
        height: 20%;
        width: 20%;
    }
    .cc-box {
        margin-bottom: 16px;
    }
}