.home-page{
    height:90vh;
}

.component-card{
    .fontawesome {
        height: 5vh;
        width: 5vh;
    }
    .icon {
        height: 100%;
        width: 100%;
    }
    .cc-box {
        margin-bottom: 16px;
    }
}