.home-page {
	min-height: 97vh;
	.change-button {
		margin-left: 4px;
		width: 100px;
	}
	.text-input {
		max-width: 100px;
	}
}

.component-card {
	.fontawesome {
		height: 5vh;
		width: 5vh;
		margin: auto;
	}
	#desc {
		margin-bottom: 24px;
	}
	.icon {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		justify-self: center;
	}
	.cc-box {
		margin-bottom: 16px;
	}
}

.outer-card {
	.MuiCardHeader-title {
		text-align: center;
	}
}
